.page-footer{
    background-color: #282c34;
    color:lightgrey;
    display: flex;
    justify-content: center;
}

.router{
    display:flex;
    padding:2rem;
    background: black;
    justify-content: space-evenly;
}

.router a:active, .router a:link, .router a:hover, .router a{
    text-decoration: none;
    color:red;
    font-size:1.2rem;
    font-weight: bold;
}